html, body {
    padding: 0;
    margin: 0;
}

body {
    font: 1em "Helvetica Neue", helvetica, arial, sans-serif;
    color: #555555;
    font-weight: normal;
    background-color: #F2F2F2;
}

p {
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: underline;
}

a:hover {
    color: #6495ed !important;
}

fieldset {
    border-style: none;
}

form {
    padding: 2.5em 1.5em;
}

input {
    width: 50%;
    font-size: 1.1em;
    color: #555;
}

[role="banner"] nav {
    width: 600px;
    text-align: center;
}

#logo, [role="banner"] nav, [role="search"] {
    float: left;
}

html.firstTime #home .container {
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

html.ready #home .container {
    opacity: 1;
}

/*.container {
    width: 960px;
    position: relative;
    margin: 0 auto;
} */

header, hgroup, menu, nav, section {
    display: block;
}

input::-webkit-input-placeholder {
    font-style: italic;
}

.container-top {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container #accordion {
    width: 100%;
    float: inherit;
}

#info,
#error {
    font-size: 1em;
    text-align: center;
    padding-bottom: 1em;
}

#info {
    color: #6495ed;
}

#error {
    color: #ff69b4;
}

.header,
.header a,
.footer,
.footer a {
    text-shadow: #FFF 1px 1px 1px;
    text-align: center;
    color: #888;
}

.footer p {
    font-size: .8em;
    padding-top: .5em;
}

.header {
    padding: 0.1em 0;
}

.header h1 {
    font-size: 2.2em;
    padding: 0;
    margin: 0;
}

.header h2 {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

